/* Dex */
	#main {
		max-width: 790px;
		@include breakpoint(small){
			max-width: 420px;
		}
	}

	#dex {
		font-size: 1.2em;
		// border: solid 1px grey;

		#screen {
			border: solid 2px grey;
			background-color: #000;
		}
		#move {
			min-height: 195px;
			@include breakpoint(xsmall){

				max-height: 40vh;
			}
		}
		div#model-wrapper{
			height: 100%;
			position: relative;



			> img#model {
				position: absolute;
				margin: 0 auto;
				bottom: 5px;
				right: 0;
				left: 0;
				@include vendor('transform-origin', 'center bottom')

				&.grow {
					animation: grow 300ms ease-in 1;
				}

			}

			@include keyframes('grow') {
				0%{ @include vendor('transform', 'scale(0)')}
				100%{ @include vendor('transform', 'scale(1)')}
			};


		}

	}

	.var-highlight{
    	color: #02e2f7;
	}
	.string-highlight{
	    color: #ff9e3d;
	}
	.int-highlight{
		color: #a160d6;
	}
	.err-highlight{
		color: #e0202f;
	}

	.target{
	        margin: 0;
	        font-family: "Courier New";

	        &:after{
	            content: "|";
	            @include keyframes('blink') {
					0%{opacity: 0;}
					100%{opacity: 1;}
				};
	            animation: blink 500ms linear infinite alternate;
	        }
	}

	#typewriter {
		display: none;
	}

	.target {
		height: 312px;
		@include breakpoint(small){
			max-height: 35vh;
		}
		@include breakpoint(xsmall){
			max-height: 33vh;
		}
		overflow: auto;
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}

	#label {
		color: black;
		@include icon('\f054')
		font-size: 15pt;
	}