// Command Line Dex | github.com/illiteratecoder/Command-Line-Dex | Jeremy Ephron

/* Footer */

	#footer {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		background: _palette(accent2, bg);
		color: _palette(accent2, fg);
		h1, h2, h3, h4, h5, h6 {
			color: _palette(accent2, fg-bold);
		}
		hr {
			color: _palette(accent2, fg);
		}
		@include breakpoint(small) {
			font-size: 0.85em;
		}
		@media screen and (max-height: 565px) {
			@include breakpoint(xsmall){
				position: static;
				margin-top: 20px;
			}
		}
		.copyright {
			color: _palette(accent2, fg-light);
			font-size: 0.9em;
			text-align: center;

			li {
				border-left: solid _size(border-width) _palette(border);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		@include breakpoint(small) {
			.copyright {
				li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}